$VeryDarkBlue: hsl(235, 21%, 11%);
$VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$LightGrayishBlue: hsl(234, 39%, 85%);
$LightGrayishBlue: hsl(236, 33%, 92%);
$DarkGrayishBlue: hsl(234, 11%, 52%);
$VeryDarkGrayishBlue: hsl(233, 14%, 35%);
$VeryDarkGrayishBlue: hsl(237, 14%, 26%);

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 2px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.main-bg {
  background-image: url("../images/bg-desktop-light.jpg");
  height: 300px;
}
.input-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.typo-container h1 {
  margin-right: 2em;
  margin-bottom: 1em;
  color: white;
  letter-spacing: 5.5px;
}
.typo-container {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.typo-container img {
  object-fit: cover;
  object-position: center;
  width: 30px;
  cursor: pointer;
  height: 30px;
}
.add-bg {
  background-image: url("../images/bg-desktop-dark.jpg");
  height: 300px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid gainsboro;
  outline: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.check {
  transform: translateY(2em);
  margin-left: 0.6em;
}

input[type="checkbox"]:checked {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
input[type="checkbox"]::before {
  content: "\2714";
  display: block;
  color: white;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}
input[type="text"] {
  width: 100%;
  padding: 0.5em;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  color: $VeryDarkDesaturatedBlue;
  font-weight: 500;
  padding-left: 2em;
  margin-bottom: 2em;
}
.input {
  display: flex;
  flex-direction: column;
}

.input-text-container {
  width: 60%;
  padding: 0.5em;
  box-shadow: 10px 5px 10px $LightGrayishBlue;
  display: flex;
  justify-content: space-between;
  order: 1;
  background-color: white;
  margin: 0 auto;
  display: flex;
  border-radius: 10px;
  margin-top: 0.3em;
}
.input-text-container h3 {
  margin-right: 4rem;
}
.regularInput h3 {
  margin-right: 0.7em;
}
.regularInput {
  margin: 0.6em auto;
  display: flex;
  justify-content: space-between;
  width: 40%;
  color: $VeryDarkDesaturatedBlue;
  font-weight: 300;
  font-style: oblique;
  order: 2;

  white-space: nowrap;
}
.regularInput h3 {
  cursor: pointer;
}
.add {
  background: $VeryDarkGrayishBlue;
}
.regularInput h3:hover {
  color: hsl(236, 33%, 92%);
}
@media (min-width: 375px) and (max-width: 675px) {
  .regularInput {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 375px) {
  .main-bg {
    background-image: url("../images/bg-mobile-light.jpg");
    background-repeat: no-repeat;
  }
  .add-bg {
    background-image: url("../images/bg-mobile-dark.jpg");
    height: 300px;
    background-repeat: no-repeat;
  }
  input[type="text"] {
    font-size: 16px;
  }
  .regularInput {
    flex-direction: column;
    gap: 10px;
  }
}
